.SideBar {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: fit-content;
  align-items: center;
  border-radius: 3px;
  height: fit-content;
}

.Item {
  padding: 1rem;
  font-size: 0.7rem;
  cursor: pointer;
}

.Item > span {
  text-transform: uppercase;
}

@media (min-width: 800px) {
  .SideBar {
    margin-right: 0.5rem;
    margin-top: 1rem;
  }
}
