.SideBar {
  background-color: #fff;
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-evenly;
  height: fit-content;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.Item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 0.7rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.Item:hover {
  fill: #78cc6d;
  color: #78cc6d;
}

.Item > svg {
  height: 25px;
  width: 25px;
  margin-bottom: 0.5rem;
}

.Item > span {
  text-transform: uppercase;
}

@media (min-width: 800px) {
  .SideBar {
    align-items: center;
    margin-right: 0.5rem;
    margin-top: 1rem;
    flex-direction: column;
    padding: 10px;
    width: fit-content;
    position: relative;
    border-radius: 3px;
    box-shadow: none;
  }
}
