.MainSection {
  background: #fff;
  position: relative;
  height: calc(100vh - 77px);
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.hideMobile {
  display: none;
}

.ProfilePicture {
  background-image: url(https://images.unsplash.com/photo-1523799510067-ff9f4c853a6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 60%;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  overflow: hidden;
}

.ProfilePicture::before {
  content: '';
  position: absolute;
  left: -7%;
  bottom: -63%;
  width: 100%;
  height: 70%;
  background: #fff;
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
}

.ProfilePicture::after {
  content: '';
  position: absolute;
  left: 7%;
  bottom: -63%;
  width: 100%;
  height: 70%;
  background: #fff;
  transform: rotate(170deg);
  -webkit-transform: rotate(170deg);
  -moz-transform: rotate(170deg);
  -o-transform: rotate(170deg);
}

.Info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.Info > h1 {
  margin-top: 4rem;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  margin-bottom: 0.5rem;
}

.Info > p {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #78cc6d;
  margin-bottom: 0.5rem;
}

.Socials {
  display: flex;
}

.Socials > :not(:last-child) {
  margin-right: 1rem;
}

.Socials > a > svg {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.Socials > a > svg > path {
  transition: all 0.2s linear;
}

.Socials > a > svg:hover > path {
  fill: #78cc6d;
}

.ActionButtons {
  border-top: solid 1px rgba(121, 201, 109, 0.5);
  border-bottom: solid 1px rgba(121, 201, 109, 0.5);
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
  bottom: 0;
}

.ActionButtons > p {
  width: 50%;
  padding: 1rem 3rem 1rem 3rem;
  text-align: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.ActionButtons :first-child {
  border-right: solid 1px rgba(121, 201, 109, 0.5);
}

.ActionButtons > p:hover {
  color: #78cc6d;
}

@media (min-width: 800px) {
  .MainSection {
    height: 87.5%;
    width: 32%;
    overflow: hidden;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
      0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    z-index: 2;
  }

  .hideMobile {
    display: flex;
  }

  .ProfilePicture {
    height: 70%;
  }

  .Info {
    margin-top: calc(100% - 1rem);
    justify-content: flex-end;
    height: 50px;
  }

  .ActionButtons {
    border-bottom: snone;
  }
  .ActionButtons > p {
    padding: 1rem 4rem 1rem 4rem;
  }
}
