.Title {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.Socials {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.SocialCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.Social {
  padding: 0 8px;
  background: #78cc6d;
  font-size: 14px;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  line-height: 1.7rem;
  color: #fefefe;
  font-weight: 400;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.SocialInfo {
  text-decoration: none;
  color: #78cc6d;
}
.ContactImageContainer {
  margin-top: 3rem;
}
.ContactImageContainer > svg {
  height: 100%;
  width: 100%;
}

@media (min-width: 800px) {
  .Title {
    border-bottom: solid 1px rgba(121, 201, 109, 0.5);
  }

  .Socials {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .SocialCard {
    margin-bottom: 0;
  }
}
