.Title {
  font-size: 1.5rem;
  border-bottom: solid 1px rgba(121, 201, 109, 0.5);
  padding-bottom: 1rem;
}

.MainContainer {
  display: flex;
}

.Left {
  width: 50%;
  border-right: solid 1px rgba(121, 201, 109, 0.5);
}

.Right {
  width: 50%;
}

.Project {
  width: 100%;
}

.ImageContainer {
  overflow: hidden;
  height: 100%;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.ImageContainer > img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
  margin-bottom: -5px;
  cursor: pointer;
}

.ImageContainer > img:hover {
  transform: scale(1.5);
}

.Project > p {
  text-align: center;
  font-size: 1.1rem;
}
