.Title {
  font-size: 1.5rem;
}

.Experiences {
  margin-top: 1.5rem;
}
.Experience {
  margin-bottom: 1.5rem;
}

.JobTime {
  border: solid 1px #78cc6d;
  color: #78cc6d;
  padding: 0.2rem 0.5rem;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  width: fit-content;
}

.JobTitle {
  letter-spacing: 0.2rem;
  margin-bottom: 0.3rem;
}

.WorkPlace {
  margin-bottom: 0.3rem;
  color: #999;
}

.Summary {
  color: #646464;
  letter-spacing: 0.05rem;
  text-align: justify;
}

.SkillBox {
  display: flex;
  margin-bottom: 1.5rem;
  flex-direction: column;
}

.Stack {
  padding: 1rem;
}

.Stack > h3 {
  margin-bottom: 1.5rem;
}

.Stack > p {
  text-align: right;
}

.Techs {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Techs > svg {
  height: 100px;
  width: 100px;
  margin-bottom: 1rem;
}

.TechIcon {
  height: 100px;
  width: 100px;
  margin-bottom: 1rem;
}

.Knowledge {
  padding-top: 1rem;
  padding-left: 1rem;
}

.Knowledge > h3 {
  margin-bottom: 1.5rem;
}

.KnowledgeItem {
  margin-bottom: 1.5rem;
  letter-spacing: 0.1rem;
}

.KnowledgeItem > svg {
  margin-right: 0.5rem;
}

.KnowledgeItem {
  display: flex;
}

@media (min-width: 800px) {
  .Title {
    border-bottom: solid 1px rgba(121, 201, 109, 0.5);
    padding-bottom: 1rem;
  }

  .SkillBox {
    flex-direction: row;
  }

  .Stack {
    width: 50%;
    border-right: solid 1px #78cc6d;
    padding-left: 1rem 0.5rem;
  }

  .Knowledge {
    width: 50%;
  }
}
