.SecondarySection {
  background: #fff;
  border-radius: 0 4px 4px 0;
  overflow: auto;
  z-index: 1;
}

.SecondarySection::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.SecondarySection::-webkit-scrollbar-thumb {
  background-color: rgba(121, 201, 109, 0.5);
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.SecondarySection::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
}

@media (min-width: 800px) {
  .SecondarySection {
    margin: 1rem 0;
    height: 74%;
    width: 40%;
    padding: 2rem 2.5rem;
  }
}
